["Developer/Example/Zotero/translators"]
    type = "git-repo"
    url = "https://github.com/zotero/translators.git"
    refreshPeriod = "24h"
    clone.args = ["--depth=1"]

["Developer/Example/Zotero/translators_cn"]
    type = "git-repo"
    url = "https://github.com/l0o0/translators_CN.git"
    refreshPeriod = "24h"
    clone.args = ["--depth=1"]

["{{ .path.plum }}"]
    type = "git-repo"
    url = "https://github.com/rime/plum"
    refreshPeriod = "168h"

["bin/jar/pdf-unstamper.jar"]
    type = "file"
    url = "{{ (gitHubLatestReleaseAssetURL "hwding/pdf-unstamper" "pdf-unstamper.jar") }}"