{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

{{ $scriptFile := joinPath .chezmoi.homeDir .path.raycast "scripts/install-anki-add-on" -}}

echo "󰯁 Install Anki add-on with {{ include $scriptFile | sha256sum }}"

osascript {{ $scriptFile | quote }} "111623432,1771074083,2055492159"

{{ end -}}
