{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

# General
defaults write com.raycast.macos raycastGlobalHotkey -string "Command-49"
defaults write com.raycast.macos raycastPreferredWindowMode -string "default"
defaults write com.raycast.macos raycastShouldFollowSystemAppearance -bool true
defaults write com.raycast.macos raycastWindowEscapeKeyBehavior -int 0
defaults write com.raycast.macos raycastWindowPresentationMode -int 0
defaults write com.raycast.macos popToRootTimeout -int 90
defaults write com.raycast.macos useHyperKeyIcon -bool false
defaults write com.raycast.macos showFavoritesInCompactMode -bool true
defaults write com.raycast.macos keepWindowVisibleOnResignKey -bool false
defaults write com.raycast.macos raycastAlternativeEscape -bool false
defaults write com.raycast.macos mainWindow_isMonitoringGlobalHotkeys -bool true
defaults write com.raycast.macos navigationCommandStyleIdentifierKey -string "macos"

# Input
defaults write com.raycast.macos enforcedInputSourceIDOnOpen -string "com.apple.keylayout.ABC"

# Quicklinks
defaults write com.raycast.macos quicklinks_enableQuickSearch -bool true
defaults write com.raycast.macos quicklinks_enableAutoFillLink -bool false

# Screenshot
defaults write com.raycast.macos mainWindowCaptureCopyToClipboard -bool true
defaults write com.raycast.macos mainWindowCaptureOpenQuickAccessOverlay -bool false
defaults write com.raycast.macos mainWindowCaptureShowInFinder -bool false

# Appearance
defaults write com.raycast.macos faviconProvider -string "legacy"
defaults write com.raycast.macos showGettingStartedLink -bool false
defaults write com.raycast.macos commandsPreferencesExpandedItemIds -array "builtin_package_windowManagement" "builtin_package_scriptCommands"

{{ end -}}
