{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh
set -eu

launchagents_dir={{ joinPath .chezmoi.homeDir "Library" "LaunchAgents" | quote }}
logrotate_dir={{ joinPath .path.etc "logrotate.d" | quote }}

mkdir -p "$launchagents_dir" \
  "$logrotate_dir" \
{{- $tools := dict -}}
{{- range (includeTemplate "launchagent/services" . | fromJson) -}}
  {{- $_ := set $tools .tool true -}}
{{- end -}}
{{- range ($tools | keys | sortAlpha) }}
  {{ joinPath $.path.log . | quote }} \
{{- end }}
  {{ .path.log | quote }}

{{- range (includeTemplate "launchagent/services" . | fromJson) }}
{{- $logFiles := (includeTemplate "launchagent/log-files" (dict "ctx" $ "service" .) | fromJson) -}}
{{- $stdoutOpts := dict -}}
{{- $stderrOpts := dict -}}
{{- if hasKey . "logrotate" -}}
  {{- if hasKey .logrotate "stdout" -}}{{- $stdoutOpts = .logrotate.stdout -}}{{- end -}}
  {{- if hasKey .logrotate "stderr" -}}{{- $stderrOpts = .logrotate.stderr -}}{{- end -}}
{{- end -}}
cat > "$logrotate_dir/{{ .tool }}-{{ .target }}" <<'LOGROTATE'
{{ index $logFiles 0 | quote }}
{
{{ includeTemplate "launchagent/logrotate-directives" $stdoutOpts }}
}
{{ index $logFiles 1 | quote }}
{
{{ includeTemplate "launchagent/logrotate-directives" $stderrOpts }}
}
LOGROTATE
{{- if and (hasKey . "brew") .brew }}
brew services restart {{ .tool }} --file=/dev/stdin <<'PLIST'
{{ template "launchagent/plist" (merge (dict) . $) }}
PLIST
{{- else }}
cat > "$launchagents_dir/{{ .tool }}.{{ .target }}.plist" <<'PLIST'
{{ template "launchagent/plist" (merge (dict) . $) }}
PLIST
{{- end }}
{{- end }}
brew services restart logrotate

{{- end }}
