#!/bin/zsh
set -eu

launchagents_dir={{ joinPath .chezmoi.homeDir "Library" "LaunchAgents" | quote }}

mkdir -p "$launchagents_dir"

{{- range (includeTemplate "launchagent/services" . | fromJson) }}
{{- if and (hasKey . "brew") .brew }}
brew services restart {{ .tool }} --file=/dev/stdin <<'PLIST'
{{ template "launchagent/plist" (merge (dict) . $) }}
PLIST
{{- else }}
cat > "$launchagents_dir/{{ .tool }}.{{ .target }}.plist" <<'PLIST'
{{ template "launchagent/plist" (merge (dict) . $) }}
PLIST
{{- end }}
{{- end }}
brew services restart logrotate
