{{- /* https://cursor.com/docs/mcp#using-mcpjson */ -}}

{{ includeTemplate "mcp/anthropic" (dict "mcp" .mcp "hosttype" .hosttype "device_type" .device_type "host_env" .host_env "roles" .roles "tool" "cursor") | fromJson | dict "mcpServers" | toPrettyJson }}
