[user]
name = Misaka
email = chuxubank@qq.com

[includeIf "gitdir:~/Developer/AA/"]
path = config_aa

[includeIf "gitdir:~/Developer/IV/"]
path = config_iv

[core]
excludesfile = ~/.config/git/ignore
autocrlf = input

[init]
defaultBranch = main

[pull]
rebase = true

[push]
autoSetupRemote = true

[rebase]
autoStash = true

[credential]
    helper = cache
    helper = !type pass-git-helper >/dev/null && pass-git-helper $@
{{ if eq .chezmoi.os "windows" -}}
	helper = manager
{{ else if eq .chezmoi.os "darwin" -}}
    helper = osxkeychain
{{ else if eq .chezmoi.os "linux" -}}
    helper = libsecret
{{ end -}}

[credential "https://github.com"]
	helper = 
	helper = !{{ .path.gh }} auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !{{ .path.gh }} auth git-credential

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[lfs "customtransfer.xet"]
    path = git-xet
    args = transfer
    concurrent = true

[diff "gpg"]
    textconv = gpg --no-tty --decrypt
[diff "word"]
	textconv = docx2txt
[diff "exif"]
	textconv = exiftool

[github]
    user = chuxubank
[rerere]
	enabled = true
