[user]
name = Misaka
email = chuxubank@qq.com

[includeIf "gitdir:~/Developer/AA/"]
path = config_aa

[core]
excludesfile = ~/.config/git/ignore
autocrlf = input

[init]
defaultBranch = main

[pull]
rebase = true

[rebase]
autoStash = true

[credential "https://github.com"]
	helper = 
	helper = !{{ .path.gh }} auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !{{ .path.gh }} auth git-credential

{{ if eq .chezmoi.os "windows" -}}
[credential]
	helper = 
	helper = manager
{{ end -}}

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[diff "gpg"]
    textconv = gpg --no-tty --decrypt
[diff "word"]
	textconv = docx2txt
[diff "exif"]
	textconv = exiftool

[github]
    user = chuxubank
