#!/bin/zsh

echo "󰯁 Restart emacs with {{ output "git" "-C" (joinPath .chezmoi.homeDir ".config/emacs") "rev-parse" "HEAD" }}"

\emacs --eval '(kill-emacs)' || true
\emacsclient --eval '(kill-emacs)' || true

env TERM_PROGRAM= \
\emacs --daemon
