{{ if eq .chezmoi.os "android" -}}
#!/bin/sh

echo "󰯁 Update pkg packages"
pkg install -y \
{{ range .packages.termux.pkg -}}
{{ if eq (printf "%T" .) "map[string]interface {}" -}}
{{ if or (not (index . "when")) (eq (index . "when") $.hosttype) -}}
{{ .name }} \
{{ end -}}
{{ else -}}
{{ . }} \
{{ end -}}
{{ end -}}

{{ end -}}
