#!/bin/zsh

echo "󰯁 Setup node"

# Verify the Node.js version:
node -v
# Update corepack
npm install --global corepack@latest
# Download and install pnpm:
corepack enable pnpm
# Verify pnpm version:
pnpm -v

{{- if eq .chezmoi.os "android" }}
if [ -d "$HOME/.bun" ]; then
    echo "✅ Bun installed."
else
    curl -fsSL https://bun.sh/install | bash
fi
{{- end }}
