{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $choices := list "home" "work" "other" -}}
{{- $hosttype := promptChoiceOnce . "hosttype" "What type of host are you on" $choices -}}
{{- $isDarkMode := false }}

{{- if eq .chezmoi.os "darwin" }}
{{- $isDarkMode = eq "Dark" (output "sh" "-c" "defaults read -g AppleInterfaceStyle 2>/dev/null || true" | trim) }}
{{- end }}

encryption = "gpg"

[gpg]
    recipient = "Misaka"
	args = ["--quiet"]

[data]
    email = {{- $email | quote }}
    hosttype = {{- $hosttype | quote }}
	isDarkMode = {{- $isDarkMode }}

[data.path]
{{- if eq .chezmoi.os "darwin" }}
# darwin
{{- if eq .chezmoi.arch "arm64" }}
    usr = "/opt/homebrew"
    gh = "/opt/homebrew/bin/gh"
{{- else }}
    usr = "/usr/local"
    gh = "/usr/local/bin/gh"
{{- end }}
{{- else if eq .chezmoi.os "linux" }}
# linux
    gh = "/usr/bin/gh"
{{- else if eq .chezmoi.os "windows" }}
# windows
    gh = "'C:\\\\Program Files\\\\GitHub CLI\\\\gh.exe'"
{{- else if eq .chezmoi.os "android" }}
    usr = "/data/data/com.termux/files/usr"
    gh = "/data/data/com.termux/files/usr/bin/gh"
{{- else }}
# unknown
{{- end }}

[diff]
    exclude = ["scripts", "externals"]

[gitHub]
    refreshPeriod = "24h"

[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-password-manager.sh"