["{{ .path.proxy }}"]
    type = "git-repo"
    url = "https://github.com/chuxubank/proxy-config"
    refreshPeriod = "4h"

["{{ .path.emacs }}"]
    type = "git-repo"
    url = "https://github.com/chuxubank/cat-emacs"
    refreshPeriod = "4h"

["Developer/Example/Raycast"]
    type = "git-repo"
    url = "https://github.com/raycast/script-commands.git"
    refreshPeriod = "24h"
    clone.args = ["--depth=1"]

["Developer/Example/Zotero/translators"]
    type = "git-repo"
    url = "https://github.com/zotero/translators.git"
    refreshPeriod = "24h"
    clone.args = ["--depth=1"]

["Developer/Example/Zotero/translators_cn"]
    type = "git-repo"
    url = "https://github.com/l0o0/translators_CN.git"
    refreshPeriod = "24h"
    clone.args = ["--depth=1"]

["{{ .path.org }}"]
    type = "git-repo"
    url = "https://github.com/chuxubank/org"
    refreshPeriod = "4h"

["{{ index .path "org-roam" }}"]
    type = "git-repo"
    url = "https://github.com/chuxubank/org-roam"
    refreshPeriod = "4h"

["{{ .path.beancount }}"]
    type = "git-repo"
    url = "https://github.com/chuxubank/beancount"
    refreshPeriod = "24h"

["{{ .path.pass }}"]
    type = "git-repo"
    url = "https://github.com/chuxubank/pass"
    refreshPeriod = "4h"

["{{ .path.plum }}"]
    type = "git-repo"
    url = "https://github.com/rime/plum"
    refreshPeriod = "168h"

{{- if eq .chezmoi.os "darwin" }}
[".rime/dist"]
    type = "archive"
    url = "{{ (gitHubLatestReleaseAssetURL "rime/librime" "rime-*-macOS-universal.tar.bz2") }}"
    exact = true
    stripComponents = 1
{{- end }}

["bin/jar/pdf-unstamper.jar"]
    type = "file"
    url = "{{ (gitHubLatestReleaseAssetURL "hwding/pdf-unstamper" "pdf-unstamper.jar") }}"
