function source_if_exists {
    [[ -f $1 ]] && builtin source $1
}

function source_if_exists_outside_emacs {
    [[ -f $1 ]] && [[ -z "$INSIDE_EMACS" ]] && builtin source $1
}

export TZ="Asia/Shanghai"
export EMAIL={{ .email | quote }}
export HOST_TYPE={{ .hosttype | quote }}

# XDG
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"

# Android
export ANDROID_HOME=$HOME/Library/Android/sdk
export ANDROID_SDK_ROOT=$ANDROID_HOME
export PATH="$ANDROID_HOME/build-tools/33.0.0/:$PATH"

# Pass
export PASSWORD_STORE_DIR="$HOME/Life/pass"

# Beancount
export BEANCOUNT_FILE="$HOME/Life/beancount/ledger/ledger.beancount.gpg"
export FAVA_PORT=8888

# Doom
export PATH="$HOME/.config/emacs/bin:$PATH"

# HASS
export HASS_SERVER=http://homeassistant.local:8123

# Jira
export JIRA_URL="https://aaecosystem.atlassian.net"

# Bun
export BUN_INSTALL="$HOME/.bun"
export PATH="$BUN_INSTALL/bin:$PATH"

# plum
export PLUM_DIR="$HOME/.plum"
export PATH=$PLUM_DIR:$PATH

# Poetry
export POETRY_CONFIG_DIR="$XDG_CONFIG_HOME/pypoetry"

# VCPKG
export VCPKG_ROOT="$HOME/vcpkg"
export PATH=$VCPKG_ROOT:$PATH

# Emacs
[[ -f "/opt/homebrew/bin/brew" ]] && export EMACSLOADPATH="/opt/homebrew/share/emacs/site-lisp/:"
