{{- $interactive := stdinIsATTY }}
{{- $deviceTypeChoices := list "laptop" "desktop" "server" -}}
{{- $hostEnvChoices := list "personal" "aa" "iv" "cloud" "ci" -}}
{{- $roleChoices := list
  "automation"
  "daily"
  "game"
  "llm"
  "qmk"
  "router"
  "studio"
  "work"
-}}

{{- $email := env "EMAIL" -}}

{{- $deviceType := "server" -}}
{{- $hostEnv := "ci" -}}
{{- $roles := list "automation" -}}

{{- $passDir := ".password-store" }}
{{- $os := .chezmoi.os -}}
{{- $facts := includeTemplate "host/facts" . | fromJson -}}
{{- $memGb := $facts.mem_gb -}}
{{- $diskGb := $facts.disk_gb -}}
{{- $osVersion := $facts.os_version -}}
{{- $isDarkMode := $facts.isDarkMode -}}

{{- if $interactive }}
{{- $email = promptStringOnce . "email" "Email address" -}}
{{- $deviceType = promptChoiceOnce . "device_type" "What type of device is this" $deviceTypeChoices -}}
{{- $hostEnv = promptChoiceOnce . "host_env" "What environment does this host belong to" $hostEnvChoices -}}

{{- $defaultRoles := includeTemplate "host/default-roles" (dict "host_env" $hostEnv "device_type" $deviceType "os" $os) | fromJson -}}

{{- $roles = promptMultichoiceOnce . "roles" "Roles" $roleChoices $defaultRoles }}
{{- $passDir = promptStringOnce . "path.pass" "Password store dir for pass cli" ".password-store" }}
{{- end }}

sourceDir = {{ .chezmoi.sourceDir | quote }}
encryption = "gpg"

[gpg]
    recipient = "Misaka"
	args = ["--quiet"]

[scriptEnv]
    PASSWORD_STORE_DIR = {{- joinPath .chezmoi.homeDir $passDir | quote }}

{{- if eq $os "windows" }}
[interpreters.sh]
    command = "zsh"
{{- end }}

[data]
    email = {{- $email | quote }}
    device_type = {{- $deviceType | quote }}
    host_env = {{- $hostEnv | quote }}
    roles = {{- $roles | toToml }}
	isDarkMode = {{- $isDarkMode }}
    mem_gb = {{ $memGb }}
    disk_gb = {{ $diskGb }}
    os_version = {{ $osVersion | quote }}

[data.path]
    pass = {{- $passDir | quote }}
{{- includeTemplate "path/platform" (dict "os" $os "arch" .chezmoi.arch "homeDir" .chezmoi.homeDir) }}

[diff]
    command = "difft"
    args = ["--color", "always"]
    exclude = ["scripts", "externals"]

[gitHub]
    refreshPeriod = "24h"

[[textconv]]
    pattern = "**/*.plist"
    command = "plutil"
    args = ["-convert", "xml1", "-o", "-", "-"]
