export LC_ALL=en_US.UTF-8

{{- if eq .chezmoi.os "darwin" }}
# Kiro CLI pre block. Keep at the top of this file.
source_if_exists_outside_emacs "${HOME}/Library/Application Support/kiro-cli/shell/zprofile.pre.zsh"

{{ if lookPath "orb" -}}
# Added by OrbStack: command-line tools and integration
source ~/.orbstack/shell/init.zsh 2>/dev/null || :
{{- end }}

# Added by Toolbox App
export PATH="$PATH:$HOME/Library/Application Support/JetBrains/Toolbox/scripts"

# Set PATH, MANPATH, etc., for Homebrew.
eval "$({{ .path.usr }}/bin/brew shellenv)"
{{- if eq .host_env "personal" }}
export HOMEBREW_BREW_GIT_REMOTE="https://mirrors.ustc.edu.cn/brew.git"
export HOMEBREW_CORE_GIT_REMOTE="https://mirrors.ustc.edu.cn/homebrew-core.git"
export HOMEBREW_BOTTLE_DOMAIN="https://mirrors.ustc.edu.cn/homebrew-bottles"
export HOMEBREW_API_DOMAIN="https://mirrors.ustc.edu.cn/homebrew-bottles/api"
{{- end }}

# awk
export PATH="$(brew --prefix awk)/bin:$PATH"

# bind
export PATH="$(brew --prefix bind)/bin:$PATH"

# bison
export PATH="$(brew --prefix bison)/bin:$PATH"

# curl
export PATH="$(brew --prefix curl)/bin:$PATH"

# grep
export PATH="$(brew --prefix grep)/libexec/gunbin:$PATH"

# python
export PATH="$(brew --prefix python)/libexec/bin:$PATH"

# ruby
export PATH="$(brew --prefix ruby)/bin:$PATH"
export PATH="$(gem env gemdir)/bin:$PATH"

# rust
export PATH="$(brew --prefix rustup)/bin:$PATH"

# sqlite
export PATH="$(brew --prefix sqlite)/bin:$PATH"

# ssh
export SSH_ASKPASS="$(brew --prefix ssh-askpass)/bin/ssh-askpass"

# Kiro CLI post block. Keep at the bottom of this file.
source_if_exists_outside_emacs "${HOME}/Library/Application Support/kiro-cli/shell/zprofile.post.zsh"
{{- end }}

export SUDO_ASKPASS="$SSH_ASKPASS"
source_if_exists "$SDKMAN_DIR/bin/sdkman-init.sh"
