export LC_ALL=en_US.UTF-8

{{- if eq .chezmoi.os "darwin" }}
# Amazon Q pre block. Keep at the top of this file.
source_if_exists_outside_emacs "${HOME}/Library/Application Support/amazon-q/shell/zprofile.pre.zsh"

# Added by Toolbox App
export PATH="$PATH:$HOME/Library/Application Support/JetBrains/Toolbox/scripts"

# Set PATH, MANPATH, etc., for Homebrew.
eval "$({{ .path.usr }}/bin/brew shellenv)"
export HOMEBREW_BREW_GIT_REMOTE="https://mirrors.ustc.edu.cn/brew.git"
export HOMEBREW_CORE_GIT_REMOTE="https://mirrors.ustc.edu.cn/homebrew-core.git"
export HOMEBREW_BOTTLE_DOMAIN="https://mirrors.ustc.edu.cn/homebrew-bottles"
export HOMEBREW_API_DOMAIN="https://mirrors.ustc.edu.cn/homebrew-bottles/api"

# curl
export PATH="$(brew --prefix curl)/bin:$PATH"

# Python
export PATH="$(brew --prefix python)/libexec/bin:$PATH"

# Amazon Q post block. Keep at the bottom of this file.
source_if_exists_outside_emacs "${HOME}/Library/Application Support/amazon-q/shell/zprofile.post.zsh"
{{- end }}
