function source_if_exists {
    [[ -f $1 ]] && builtin source $1
}

function source_if_exists_outside_emacs {
    [[ -f $1 ]] && [[ -z "$INSIDE_EMACS" ]] && builtin source $1
}

export EMAIL={{ .email | quote }}
export HOST_TYPE={{ .hosttype | quote }}

# XDG
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"

# Bin
export PATH=$HOME/bin:$PATH

# Android
export ANDROID_HOME=$HOME/Library/Android/sdk
export ANDROID_SDK_ROOT=$ANDROID_HOME
if [ -d "$ANDROID_HOME/build-tools" ]; then
  export ANDROID_BUILD_TOOLS_VERSION=$(ls -1 "$ANDROID_HOME/build-tools" | sort -V | tail -n 1)
  export PATH="$ANDROID_HOME/build-tools/$ANDROID_BUILD_TOOLS_VERSION:$PATH"
fi
if [ -d "$ANDROID_HOME/platform-tools" ]; then
  export PATH="$ANDROID_HOME/platform-tools:$PATH"
fi
if [ -d "$ANDROID_HOME/cmdline-tools/latest" ]; then
  export PATH="$ANDROID_HOME/cmdline-tools/latest/bin:$PATH"
fi

{{- if ne .hosttype "ci" }}
# API-KEY
export OPENAI_API_KEY="{{ index (passFields "Personal/Tech/AI/OpenAI") "api-key" }}"
export GEMINI_API_KEY="{{ index (passFields "Personal/Tech/Google") "gemini-api-key" }}"
export OPENROUTER_API_KEY="{{ index (passFields "Personal/Tech/AI/OpenRouter") "api-key" }}"
{{- end }}

# Beancount
export BEANCOUNT_FILE="$HOME/{{ .path.beancount }}/ledger/ledger.beancount"
export FAVA_PORT=8888

# Bun
export BUN_INSTALL="$HOME/{{ .path.bun }}"
export PATH="$BUN_INSTALL/bin:$PATH"

# Emacs
export EMACSLOADPATH="{{ .path.usr }}/share/emacs/site-lisp:$HOME/{{ index .path "emacs-site-lisp" }}:"

# HASS
export HASS_SERVER=http://homeassistant.local:8123

# Jira
export JIRA_URL="https://aaecosystem.atlassian.net"

# Org
export ORG_DIR="$HOME/{{ .path.org }}"

# Pass
export PASSWORD_STORE_DIR="$HOME/{{ .path.pass }}"

# plum
export plum_dir="$HOME/{{ .path.plum }}"
export PATH=$plum_dir:$PATH

# QMK
export QMK_HOME="$HOME/Developer/Example/QMK"

# Raycast
export PATH=$HOME/{{ .path.raycast }}/scripts:$PATH

# StarDict
export STARDICT_DATA_DIR="$HOME/{{ .path.nutstore }}/Dictionary"

# SDKMAN
export SDKMAN_DIR="$HOME/{{ .path.sdkman }}"

# VCPKG
export VCPKG_ROOT="$HOME/vcpkg"
export PATH=$VCPKG_ROOT:$PATH
