GOOSE_MODEL: gemini-2.0-flash
extensions:
  computercontroller:
    bundled: true
    display_name: Computer Controller
    enabled: true
    name: computercontroller
    timeout: 300
    type: builtin
  developer:
    bundled: true
    display_name: Developer
    enabled: true
    name: developer
    timeout: 300
    type: builtin
  jetbrains:
    bundled: true
    display_name: JetBrains
    enabled: true
    name: jetbrains
    timeout: 300
    type: builtin
  memory:
    bundled: true
    display_name: Memory
    enabled: true
    name: memory
    timeout: 300
    type: builtin
  tutorial:
    bundled: true
    display_name: Tutorial
    enabled: false
    name: tutorial
    timeout: 300
    type: builtin
  fetch:
    args:
      - mcp-server-fetch
    bundled: null
    cmd: uvx
    description: Web content fetching and processing capabilities
    enabled: false
    env_keys: []
    envs: {}
    name: fetch
    timeout: 300
    type: stdio
  pdfreader:
    args:
      - mcp-read-pdf
    bundled: null
    cmd: uvx
    description: Read large and complex PDF documents
    enabled: true
    env_keys: []
    envs: {}
    name: pdfreader
    timeout: 300
    type: stdio
  github:
    args:
      - stdio
    bundled: null
    cmd: github-mcp-server
    description: GitHub's official MCP Server
    enabled: true
    envs:
      {
        "GITHUB_PERSONAL_ACCESS_TOKEN": '{{ output "gh" "auth" "token" | trim }}',
      }
    name: github
    timeout: 300
    type: stdio
  amap:
    args:
      - "-y"
      - "@amap/amap-maps-mcp-server"
    bundled: null
    cmd: bunx
    description: Amap's official MCP Server
    enabled: true
    envs:
      { "AMAP_MAPS_API_KEY": '{{ (passFields "Personal/Life/Amap").token }}' }
    name: amap
    timeout: 300
    type: stdio
  tavily:
    args:
      - "-y"
      - "tavily-mcp"
    bundled: null
    cmd: bunx
    description: Real-time web search and intelligent data extraction capabilities
    enabled: true
    envs:
      { "TAVILY_API_KEY": '{{ pass "Personal/Tech/Tavily" }}' }
    name: tavily
    timeout: 300
    type: stdio
  notion:
    args:
      - "-y"
      - "@notionhq/notion-mcp-server"
    bundled: null
    cmd: bunx
    description: Allows AI apps and agents to interface with the Notion public API
    enabled: false
    envs:
      { "OPENAPI_MCP_HEADERS": '{"Authorization": "Bearer {{ index (passFields "Personal/Tech/Notion") "asahi-art-token" }}", "Notion-Version": "2022-06-28"}' }
    name: notion
    timeout: 300
    type: stdio
  markitdown:
    args:
      - markitdown-mcp
    bundled: null
    cmd: uvx
    description: Convert various files to Markdown
    enabled: true
    name: markitdown
    timeout: 300
    type: stdio
  jetbrains:
    args:
      - "-y"
      - "@jetbrains/mcp-proxy"
    bundled: null
    cmd: bunx
    description: The server proxies requests from client to JetBrains IDE
    enabled: true
    name: jetbrains
    timeout: 300
    type: stdio
GOOGLE_API_KEY: {{ index (passFields "Personal/Tech/Google") "goose-gemini-api-key" }}
GOOSE_PROVIDER: google
