#!/bin/sh

echo "󰯁 Setup bun"

{{- if or (lookPath "bun") (eq .chezmoi.os "darwin") }}
echo "Already have bun"
{{- else }}
BUN_INSTALL={{ joinPath .chezmoi.homeDir .path.bun }} curl -fsSL https://bun.sh/install | bash
{{- end }}
