#!/bin/zsh

echo "{{ template "week" . }} 󰯁 Setup bun"

BUN_INSTALL="$HOME/{{ .path.bun }}"
PATH="$BUN_INSTALL/bin:$PATH"

{{- if not (lookPath "bun") }}
curl -fsSL https://bun.sh/install | bash
{{- end }}

bun upgrade

{{- range $tool := .packages.node.global }}
{{- if eq (kindOf $tool) "map" }}
{{- $enabled := true -}}
{{- if hasKey $tool "when" -}}
  {{- $enabled = includeTemplate "when/check" (dict "item" $tool "key" "host_env" "value" $.host_env) | fromJson -}}
{{- end -}}
{{- if $enabled }}
bun add -g {{ if $tool.trust }}--trust {{ end }}{{ $tool.name }}
{{- end }}
{{- else }}
bun add -g {{ $tool }}
{{- end }}
{{- end }}

bun update -g --latest

bunx playwright install chromium
bunx puppeteer browsers install chrome-headless-shell
