#!/bin/zsh

echo "{{ template "week" . }} 󰯁 Setup sdkman"

SDKMAN_INIT="$SDKMAN_DIR/bin/sdkman-init.sh"

if [ ! -s "$SDKMAN_INIT" ]; then
    rm -rf "$SDKMAN_DIR"
    curl -s "https://get.sdkman.io" | bash
fi

source "$SDKMAN_INIT"

sdk selfupdate
