#!/bin/sh

echo "󰯁 Setup isync and mu"
mkdir -p {{ joinPath .chezmoi.homeDir .path.mail }}/qq
mbsync -a
{{- if not (stat (joinPath .chezmoi.homeDir ".cache" "mu")) }}
mu init --maildir={{ joinPath .chezmoi.homeDir .path.mail }} --my-address={{ .email }}
{{- end }}
mu index
