{{ if not (eq .hosttype "ci") -}}
#!/bin/zsh
echo "󰯁 Setup packages"

if [ -d "$HOME/.oh-my-zsh" ]; then
    echo "✅ omz is already installed."
else
    echo "🚀 Installing omz..."
    RUNZSH=no sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" && echo "✅ omz installed!"
fi

if ! gh auth status >/dev/null 2>&1; then
    echo "⚠️ Not logged in. Logging into GitHub..."
    gh auth login
else
    echo "✅ Already logged in to GitHub."
fi

if gpg --list-secret-keys | grep -q "^sec"; then
    echo "✅ gpg secret key found."
else
    echo "❌ no gpg secret key found."
    autoload -Uz compinit
    compinit
    while true; do
        key_file=""
        echo "🔑 Please enter the path to your GPG private key file: "
        vared -c -p "> " key_file
        key_file=${key_file/#\~/$HOME}
        if [ -f "$key_file" ]; then
            echo "📥 Importing GPG key from $key_file..."
            gpg --import "$key_file" && echo "✅ Key imported successfully!" && break
        else
            echo "⚠️ File not found. Please enter a valid path."
        fi
    done
fi

if [ -d "$PASSWORD_STORE_DIR" ]; then
    echo "✅ password store dir exist."
else
    gh repo clone pass "$PASSWORD_STORE_DIR"
fi
{{ end -}}
