#!/bin/sh
set -eu

{{- range (includeTemplate "service/services" . | fromJson) }}
{{- if eq $.chezmoi.os "darwin" }}
{{ includeTemplate "service/register-darwin" (merge (dict) . $) }}
{{- else if eq $.chezmoi.os "linux" }}
{{ includeTemplate "service/register-linux" (merge (dict) . $) }}
{{- end }}
{{- end }}
