{{ if not (eq .host_env "ci") -}}
#!/bin/zsh

echo "󰯁 Setup oh-my-zsh"

if [[ -f $HOME/.oh-my-zsh/oh-my-zsh.sh ]]; then
    echo "✅ Omz is already installed."
else
    echo "🚀 Installing omz..."
    rm -rf "$HOME/.oh-my-zsh"
    if ! installer=$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh); then
        print -u2 -- "Could not download oh-my-zsh installer"
        exit 1
    fi
    if ! RUNZSH=no CHSH=no KEEP_ZSHRC=yes sh -c "$installer"; then
        print -u2 -- "Could not install oh-my-zsh"
        exit 1
    fi
    echo "✅ omz installed!"
fi
{{ end -}}
