#!/bin/sh

echo "{{ template "week" . }} 󰯁 Setup bun"

BUN_INSTALL="$HOME/{{ .path.bun }}"
PATH="$BUN_INSTALL/bin:$PATH"

{{- if not (lookPath "bun") }}
curl -fsSL https://bun.sh/install | bash
{{- else }}
bun upgrade
{{- end }}
