#!/bin/sh
set -eu

logrotate_dir={{ joinPath .path.etc "logrotate.d" | quote }}

mkdir -p "$logrotate_dir" \
{{- $tools := dict -}}
{{- range (includeTemplate "service/services" . | fromJson) -}}
  {{- $_ := set $tools .tool true -}}
{{- end -}}
{{- range ($tools | keys | sortAlpha) }}
  {{ joinPath $.path.log . | quote }} \
{{- end }}
  {{ .path.log | quote }}

{{ range (includeTemplate "service/services" . | fromJson) -}}
{{- $logFiles := (includeTemplate "service/log-files" (dict "ctx" $ "service" .) | fromJson) -}}
{{- $stdoutOpts := dict -}}
{{- $stderrOpts := dict "rotate" "2" "interval" "weekly" -}}
{{- if hasKey . "logrotate" -}}
  {{- if hasKey .logrotate "stdout" -}}{{- $stdoutOpts = .logrotate.stdout -}}{{- end -}}
  {{- if hasKey .logrotate "stderr" -}}{{- $stderrOpts = .logrotate.stderr -}}{{- end -}}
{{- end -}}
{{ $filename := .tool -}}
{{- if not (and (hasKey . "brew") .brew) -}}{{- $filename = printf "%s-%s" .tool .target -}}{{- end -}}
cat > "$logrotate_dir/{{ $filename }}" <<'LOGROTATE'
{{ index $logFiles 0 | quote }}
{
  {{ includeTemplate "service/logrotate-directives" $stdoutOpts }}
}
{{ index $logFiles 1 | quote }}
{
  {{ includeTemplate "service/logrotate-directives" $stderrOpts }}
}
LOGROTATE
{{ end -}}
{{ if eq .chezmoi.os "darwin" }}
brew services restart logrotate
{{ end -}}
