{{ if not (eq .hosttype "ci") -}}
#!/bin/zsh

mkdir -p '{{ joinPath .path.log "gitwatch" }}'

cat >'{{ joinPath .path.etc "logrotate.d" "gitwatch-org" }}' <<EOF
{{ joinPath .path.log "gitwatch" "gitwatch-org-stdout.log" }} {
  rotate 7
  daily
  missingok
  notifempty
  compress
  copytruncate
}

{{ joinPath .path.log "rclone" "gitwatch-org-stderr.log" }} {
  rotate 7
  daily
  missingok
  notifempty
  compress
  copytruncate
}
EOF
{{ end }}