{{ if not (eq .host_env "ci") -}}
#!/bin/zsh

mkdir -p '{{ joinPath .path.log "isync" }}'

cat >'{{ joinPath .path.etc "logrotate.d" "isync" }}' <<EOF
{{ joinPath .path.log "isync" "isync-stdout.log" }} {
  rotate 7
  weekly
  missingok
  notifempty
  compress
  copytruncate
}
{{ joinPath .path.log "isync" "isync-stderr.log" }} {
  rotate 7
  daily
  missingok
  notifempty
  compress
  copytruncate
}
EOF
{{ end }}