#!/bin/sh

echo "{{ template "week" . }} 󰯁 Install packages"

{{ if eq .chezmoi.os "android" -}}
pkg install -y \
{{ template "package-list" .packages.termux.repo }}
pkg install -y \
{{ template "package-list" .packages.termux.pkg }}

{{ else if eq .chezmoi.os "darwin" -}}
brew bundle --quiet --cleanup --file=- <<EOF
{{ template "Brewfile" . -}}
EOF

{{ else if eq .chezmoi.os "linux" }}
{{ if lookPath "apt-get" }}
{{ if ne .hosttype "ci" -}}
sudo apt-get update -y
{{ end -}}
sudo apt-get install -y \
{{ template "package-list" .packages.apt.pkg }}
{{ end -}}

{{ else if eq .chezmoi.os "windows" }}
{{ end -}}
