#!/usr/bin/env bash
set -e

{{- $plum_dir := joinPath .chezmoi.homeDir .path.tool.plum }}
{{- if not (stat $plum_dir) }}

echo "󰯁 Skip Rime Ice: {{ $plum_dir }} is not installed yet"
{{- else }}

echo "󰯁 Update Rime Ice with {{ output "git" "-C" $plum_dir "rev-parse" "HEAD" }}"
export rime_dir=""
{{ joinPath $plum_dir "rime-install" | quote }} iDvel/rime-ice:others/recipes/full
{{ joinPath $plum_dir "rime-install" | quote }} iDvel/rime-ice:others/recipes/config:schema=double_pinyin_flypy
{{- end }}
