{{ if eq .chezmoi.os "android" -}}
#!/bin/sh

echo "󰯁 Update pkg repo"
pkg install -y \
{{ template "package-list" .packages.termux.repo }}

echo "󰯁 Update pkg packages"
pkg install -y \
{{ template "package-list" .packages.termux.pkg }}

{{ end -}}
