{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

echo "{{ template "week" . }} 󰯁 Upgrade and cleanup brew packages"
brew bundle --quiet --cleanup --file=- <<EOF
{{ template "Brewfile" . -}}
EOF
{{ end -}}
