#!/bin/sh

echo "{{ template "week" . }} 󰯁 Install packages"

{{ if eq .chezmoi.os "android" -}}
pkg install -y \
    {{ template "package/args" (dict "ctx" . "path" (list "termux" "repo")) }}
pkg install -y \
    {{ template "package/args" (dict "ctx" . "path" (list "termux" "pkg")) }}

{{ else if eq .chezmoi.os "darwin" -}}
brew bundle --quiet --cleanup --file=- <<EOF
{{ template "Brewfile" . -}}
EOF

{{ else if eq .chezmoi.os "linux" }}
{{ if lookPath "apt-get" }}
{{- if ne .host_env "ci" }}
sudo apt-get update -y
{{- end }}
sudo apt-get install -y \
    {{ template "package/args" (dict "ctx" . "path" (list "apt" "pkg")) }}

{{ else if lookPath "pacman" }}
sudo pacman -Syu --noconfirm \
    {{ template "package/args" (dict "ctx" . "path" (list "pacman" "core")) }} \
    {{ template "package/args" (dict "ctx" . "path" (list "pacman" "extra")) }}
{{ end -}}

{{ else if eq .chezmoi.os "windows" }}
{{ end -}}
