#!/bin/zsh

echo "{{ template "week" . }} 󰯁 Setup sdkman"

SDKMAN_INIT="$SDKMAN_DIR/bin/sdkman-init.sh"

if [ ! -s "$SDKMAN_INIT" ]; then
    rm -rf "$SDKMAN_DIR"
    curl -s "https://get.sdkman.io" | bash
fi

source "$SDKMAN_INIT"

sdk selfupdate

{{- range $sdk := .packages.sdkman.sdk }}
{{- if eq (kindOf $sdk) "map" }}
{{- $when := index $sdk "when" }}
{{- if or (not $when) (eq $when $.hosttype) }}
sdk install {{ $sdk.name }}{{- with index $sdk "version" }} {{ . }}{{ end }}
{{- end }}
{{- else }}
sdk install {{ $sdk }}
{{- end }}
{{- end }}

sdk flush
