#!/bin/zsh

echo "{{ template "week" . }} 󰯁 Setup sdkman"

SDKMAN_INIT="$SDKMAN_DIR/bin/sdkman-init.sh"

if [ ! -s "$SDKMAN_INIT" ]; then
    rm -rf "$SDKMAN_DIR"
    curl -s "https://get.sdkman.io?rcupdate=false" | bash
fi

source "$SDKMAN_INIT"

sdk selfupdate

{{- $items := includeTemplate "package-items" (dict "ctx" . "path" (list "sdkman")) | fromJson }}
{{- range $sdk := $items }}
{{- if eq (kindOf $sdk) "map" }}
sdk install {{ $sdk.name }}{{- with index $sdk "version" }} {{ . }}{{ end }}
{{- else }}
sdk install {{ $sdk }}
{{- end }}
{{- end }}

sdk flush
