{{ if not (eq .hosttype "ci") -}}
#!/bin/sh

echo "󰯁 Restart emacs with {{ output "git" "-C" (joinPath .chezmoi.homeDir .path.emacs) "rev-parse" "HEAD" }}"

\emacsclient --eval '(kill-emacs)' || true

env TERM_PROGRAM= \

{{ if eq .chezmoi.os "android" -}}
termux-x11 :1 -xstartup "\emacs" &
{{ else }}
\emacsclient -cn -a=""
{{ end -}}

{{ end -}}
