#!/bin/sh
echo "{{ template "week" . }} 󰯁 Upgrade packages"
{{ if eq .chezmoi.os "android" -}}
pkg install -y \
{{ template "package-list" .packages.termux.repo }}
pkg install -y \
{{ template "package-list" .packages.termux.pkg }}

{{ else if eq .chezmoi.os "darwin" -}}
brew bundle --quiet --cleanup --file=- <<EOF
{{ template "Brewfile" . -}}
EOF
{{ end -}}
