{{ if not (eq .host_env "ci") -}}
#!/bin/sh

echo "󰯁 Setup proxy with {{ output "git" "-C" (joinPath .chezmoi.homeDir .path.personal.proxy) "rev-parse" "HEAD" }}"

{{- if eq .chezmoi.os "darwin" }}
echo "Xray running: {{ output "brew" "services" "info" "xray" "--json" | fromJson | jq ".[0].running" | first }}"
echo "Sing-box running: {{ output "brew" "services" "info" "sing-box" "--json" | fromJson | jq ".[0].running" | first }}"
{{- end }}

{{ if lookPath "ansible-playbook" }}
cd {{ joinPath .chezmoi.homeDir .path.personal.proxy }} || exit 1
ansible-playbook playbook.yml --limit localhost --skip-tags "install"
{{ end }}

{{ end -}}
