#!/bin/bash

echo "{{ template "week" . }} 󰯁 Setup uv"

{{- if not (lookPath "uv") }}
curl -LsSf https://astral.sh/uv/install.sh | sh
source $HOME/.local/bin/env
{{- else }}
if ! brew list uv &>/dev/null; then
    uv self update | true
fi
{{- end }}

{{- range $tool := .packages.python.tools }}
{{- if eq (kindOf $tool) "map" }}
{{- $enabled := true -}}
{{- if hasKey $tool "when" -}}
  {{- $enabled = includeTemplate "when/check" (dict "item" $tool "key" "host_env" "value" $.host_env) | fromJson -}}
{{- end -}}
{{- if $enabled }}
uv tool install{{- if (and (index $tool "force") true) }} --force{{- end }}{{- with index $tool "version" }} --python python{{ . }}{{ end }}{{- with index $tool "with" }} --with {{.}}{{ end }} {{- with index $tool "with-exec" }} --with-executables-from {{.}}{{ end }} {{ $tool.name }}
{{- end }}
{{- else }}
uv tool install {{ $tool }}
{{- end }} --upgrade
{{- end }}

uv tool upgrade --all
