{{- if and (lookPath "python3") (not (includeTemplate "tool/enabled" (merge (dict "tool" "termio") .) | fromJson)) -}}
{{ includeTemplate "termio/run.py" (merge (dict "mode" "teardown") .) -}}
{{- end -}}
