#!/bin/zsh

echo "{{ template "week" . }} 󰯁 Setup sdkman"

SDKMAN_DIR="$HOME/{{ .path.sdkman }}"

if [ -z "$SDKMAN_DIR" ]; then
    curl -s "https://get.sdkman.io" | bash
fi

source "$SDKMAN_DIR/bin/sdkman-init.sh"

sdk selfupdate
