#!/bin/bash

echo "{{ template "week" . }} 󰯁 Setup uv"

{{- if not (lookPath "uv") }}
curl -LsSf https://astral.sh/uv/install.sh | sh
source $HOME/.local/bin/env
{{- else }}
if ! brew list uv &>/dev/null; then
    uv self update | true
fi
{{- end }}

{{- range $tool := .packages.python.tools }}
{{- if eq (printf "%T" $tool) "map[string]interface {}" }}
{{- $when := index $tool "when" }}
{{- if or (not $when) (eq $when $.hosttype) }}
uv tool install{{- if (and (index $tool "force") true) }} --force{{- end }}{{- with index $tool "version" }} --python python{{ . }}{{ end }}{{- with index $tool "with" }} --with {{.}}{{ end }} {{ $tool.name }}
{{- end }}
{{- else }}
uv tool install {{ $tool }}
{{- end }} --upgrade
{{- end }}
