{{ if not (eq .host_env "ci") -}}
#!/bin/zsh

echo "󰯁 Setup password store"

if [[ -d $PASSWORD_STORE_DIR ]]; then
    echo "✅ Password store dir exists."
elif ! gh repo clone pass "$PASSWORD_STORE_DIR"; then
    print -u2 -- "Could not clone password store"
    exit 1
fi
{{ end -}}
