{{- if and (ne .chezmoi.os "windows") (not (includeTemplate "tool/enabled" (merge (dict "tool" "rtk") .) | fromJson)) -}}
{{ includeTemplate "rtk/run.py" (merge (dict "mode" "teardown") .) -}}
{{- end -}}
