{{- $cfg := includeTemplate "llm/tool-config" (merge (dict "tool" "claude-code") .) | fromJson -}}

{{- $env := dict
  "CLAUDE_CODE_ATTRIBUTION_HEADER" "0"
  "CLAUDE_CODE_DISABLE_EXPERIMENTAL_BETAS" "1"
  "CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC" "1"
-}}

{{- range $_, $ep := $cfg.providers }}
  {{- if $ep.base_url }}
    {{- $_ := set $env "ANTHROPIC_BASE_URL" (printf "%s/v1" $ep.base_url) -}}
  {{- end }}
  {{- if $ep.auth_key }}
    {{- $_ := set $env "ANTHROPIC_AUTH_TOKEN" $ep.auth_key -}}
  {{- end }}
{{- end -}}

{{- if eq .host_env "iv" -}}
  {{- $_ := set $env "ANTHROPIC_DEFAULT_OPUS_MODEL" "claude-opus-4-6" -}}
  {{- $_ := set $env "ANTHROPIC_DEFAULT_SONNET_MODEL" "claude-sonnet-4-6" -}}
  {{- $_ := set $env "ANTHROPIC_DEFAULT_HAIKU_MODEL" "claude-haiku-4-5-20251001" -}}
{{- end -}}

{{- $enabledPlugins := dict
  "chrome-devtools-mcp@claude-plugins-official" true
  "kotlin-lsp@claude-plugins-official" true
  "mattpocock-skills@mattpocock" true
  "skill-creator@claude-plugins-official" true
  "superpowers@claude-plugins-official" false
-}}

{{- $githubMarketplaces := dict
  "anthropic-agent-skills" "anthropics/skills"
  "mattpocock" "mattpocock/skills"
-}}
{{- $extraKnownMarketplaces := dict -}}
{{- range $name, $repo := $githubMarketplaces -}}
  {{- $_ := set $extraKnownMarketplaces $name (dict
    "source" (dict "source" "github" "repo" $repo)
  ) -}}
{{- end -}}

{{- $permissions := dict
    "defaultMode" "auto"
-}}

{{- $statusLine := dict
    "type" "command"
	"command" (joinPath .chezmoi.homeDir ".claude" "statusline.sh")
-}}

{{- dict
  "effortLevel" "medium"
  "enabledPlugins" $enabledPlugins
  "env" $env
  "extraKnownMarketplaces" $extraKnownMarketplaces
  "model" $cfg.model
  "permissions" $permissions
  "skipAutoPermissionPrompt" true
  "statusLine" $statusLine
  | toPrettyJson
-}}
