{{- $pass := ternary "Work/IV/LLM" "" (eq .hosttype "iv") -}}
{{- $fields := passFields $pass -}}

{{- $model := ternary "global.anthropic.claude-opus-4-6-v1" "" (eq .hosttype "iv") -}}

{{- $env := dict
  "CLAUDE_CODE_ATTRIBUTION_HEADER" "0"
  "CLAUDE_CODE_DISABLE_EXPERIMENTAL_BETAS" "1"
  "CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC" "1"
-}}

{{- if eq .hosttype "iv" -}}
  {{- $_ := set $env "ANTHROPIC_DEFAULT_OPUS_MODEL" "global.anthropic.claude-opus-4-6-v1" -}}
  {{- $_ := set $env "ANTHROPIC_DEFAULT_SONNET_MODEL" "global.anthropic.claude-sonnet-4-6" -}}
  {{- $_ := set $env "ANTHROPIC_DEFAULT_HAIKU_MODEL" "claude-haiku-4-5-20251001" -}}
{{- end -}}

{{- range $k, $v := dict
  "ANTHROPIC_AUTH_TOKEN" (index $fields "anthropic-auth-token")
  "ANTHROPIC_BASE_URL" (index $fields "url")
-}}
  {{- if $v }}
    {{- $_ := set $env $k $v -}}
  {{ end -}}
{{- end -}}

{{- $enabledPlugins := dict
  "kotlin-lsp@claude-plugins-official" true
  "skill-creator@claude-plugins-official" true
-}}

{{- $extraKnownMarketplaces := dict
  "anthropic-agent-skills" (dict
    "source" (dict
	  (dict "source" "github")
	  (dict "repo" "anthropics/skills")
	)
  )
-}}

{{- $statusLine := dict
    "type" "command"
	"command" (joinPath .chezmoi.homeDir ".claude" "statusline.sh")
-}}

{{- dict
  "enabledPlugins" $enabledPlugins
  "env" $env
  "model" $model
  "statusLine" $statusLine
  | toPrettyJson
-}}
