{{- $cfg := includeTemplate "llm/tool-config" (merge (dict "tool" "opencode") .) | fromJson -}}

{{- $auth := dict -}}
{{- range $alias, $ep := $cfg.providers }}
  {{- if $ep.auth_key }}
    {{- $_ := set $auth $alias (dict "type" "api" "key" $ep.auth_key) -}}
  {{- end }}
{{- end }}

{{- $auth | toPrettyJson -}}