GitHubPackagesPassword={{ includeTemplate "safe/pass" (merge (dict "path" "Personal/Tech/Git/GitHub" "field" "package-token") .) }}
GitHubPackagesUsername={{ includeTemplate "safe/pass" (merge (dict "path" "Personal/Tech/Git/GitHub" "field" "user") .) }}
robotDroidSupabaseUrl={{ includeTemplate "safe/pass" (merge (dict "path" "Work/XZ/RobotDroid/Supabase" "field" "robotdroid-url") .) }}
robotDroidSupabaseKey={{ includeTemplate "safe/pass" (merge (dict "path" "Work/XZ/RobotDroid/Supabase" "field" "robotdroid-key") .) }}
robotDroidKeyStorePassword={{ includeTemplate "safe/pass" (merge (dict "path" "Work/XZ/RobotDroid/KeyStore" "field" "KeyPassword") .) }}
robotDroidKeyStoreFile={{ joinPath .chezmoi.homeDir .path.data.nutstore (includeTemplate "safe/pass" (merge (dict "path" "Work/XZ/RobotDroid/KeyStore" "field" "Path") .)) }}
org.gradle.daemon=false
