GitHubPackagesPassword={{ index (passFields "Personal/Tech/GitHub") "package-token" }}
GitHubPackagesUsername={{ index (passFields "Personal/Tech/GitHub") "user" }}
robotDroidSupabaseUrl={{ index (passFields "Work/XZ/RobotDroid/Supabase") "robotdroid-url" }}
robotDroidSupabaseKey={{ index (passFields "Work/XZ/RobotDroid/Supabase") "robotdroid-key" }}
