{{ if lookPath "orb" -}}
Include ~/.orbstack/ssh/config
{{ end -}}

{{ if has .host_env (list "aa" "personal") -}}
Include ~/.ssh/aa/config
{{ end -}}

{{ if has .host_env (list "iv" "personal") -}}
Include ~/.ssh/iv/config
{{ end -}}

{{ template "ssh" (includeTemplate "safe/pass" (merge (dict "path" "Network/Home/RaspberryPi/ssh" "asJson" true) .) | fromJson) }}

{{ template "ssh" (includeTemplate "safe/pass" (merge (dict "path" "Network/Home/PVE/ssh" "asJson" true) .) | fromJson) }}

{{ template "ssh" (includeTemplate "safe/pass" (merge (dict "path" "Network/Host/BandwagonHost/CN2/ssh" "asJson" true) .) | fromJson) }}

{{ template "ssh" (includeTemplate "safe/pass" (merge (dict "path" "Network/Host/Racknerd/ssh" "asJson" true) .) | fromJson) }}

{{ template "ssh" (includeTemplate "safe/pass" (merge (dict "path" "Work/XZ/RaspberryPi/ssh" "asJson" true) .) | fromJson) }}

{{ range $alias, $cfg := .tailscale.hosts }}
Host {{ $alias }}
    HostName {{ if hasKey $cfg "hostname" }}{{ $cfg.hostname }}{{ else }}{{ $alias }}{{ end }}.{{ $.tailscale.tailnet }}
    User {{ $cfg.username }}
    Port {{ if hasKey $cfg "port" }}{{ $cfg.port }}{{ else }}22{{ end }}
{{ end -}}
