{{ if lookPath "orb" -}}
Include ~/.orbstack/ssh/config
{{ end -}}

Include ~/.ssh/personal/config

{{ if eq .host_env "aa" -}}
Include ~/.ssh/aa/config
{{ end -}}

{{ if eq .host_env "iv" -}}
Include ~/.ssh/iv/config
{{ end -}}
