aa-jira = jiracloud -s {{ includeTemplate "safe/pass" (merge (dict "path" "Work/AA/Atlassian" "field" "site") .) }} -u {{ includeTemplate "safe/pass" (merge (dict "path" "Work/AA/Atlassian" "field" "username") .) }} -t {{ includeTemplate "safe/pass" (merge (dict "path" "Work/AA/Atlassian" "field" "acli-api-token") .) }}
aa-confluence = confluencecloud -s {{ includeTemplate "safe/pass" (merge (dict "path" "Work/AA/Atlassian" "field" "site") .) }} -u {{ includeTemplate "safe/pass" (merge (dict "path" "Work/AA/Atlassian" "field" "username") .) }} -t {{ includeTemplate "safe/pass" (merge (dict "path" "Work/AA/Atlassian" "field" "acli-api-token") .) }}
aa-bitbucket = bitbucketcloud -u {{ includeTemplate "safe/pass" (merge (dict "path" "Work/AA/Atlassian" "field" "bitbucket-user") .) }} -p {{ includeTemplate "safe/pass" (merge (dict "path" "Work/AA/Atlassian" "field" "acli-bitbucket-app-pass") .) }}
