aa-jira = jiracloud -s {{ includeTemplate "safe/pass" (dict "path" "Work/AA/Atlassian" "field" "site" "host_env" .host_env) }} -u {{ includeTemplate "safe/pass" (dict "path" "Work/AA/Atlassian" "field" "username" "host_env" .host_env) }} -t {{ includeTemplate "safe/pass" (dict "path" "Work/AA/Atlassian" "field" "acli-api-token" "host_env" .host_env) }}
aa-confluence = confluencecloud -s {{ includeTemplate "safe/pass" (dict "path" "Work/AA/Atlassian" "field" "site" "host_env" .host_env) }} -u {{ includeTemplate "safe/pass" (dict "path" "Work/AA/Atlassian" "field" "username" "host_env" .host_env) }} -t {{ includeTemplate "safe/pass" (dict "path" "Work/AA/Atlassian" "field" "acli-api-token" "host_env" .host_env) }}
aa-bitbucket = bitbucketcloud -u {{ includeTemplate "safe/pass" (dict "path" "Work/AA/Atlassian" "field" "bitbucket-user" "host_env" .host_env) }} -p {{ includeTemplate "safe/pass" (dict "path" "Work/AA/Atlassian" "field" "acli-bitbucket-app-pass" "host_env" .host_env) }}
