layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab_template name="opencode" {
        pane split_direction="vertical" {
            pane command="opencode" size="70%"
            children
        }
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }

    {{- if eq .host_env "iv" }}
    opencode name="ivc" cwd="{{- joinPath .chezmoi.homeDir .path.workspace.iv "ivc" -}}" {
        pane
    }
    {{- end }}

    tab name="proxy" cwd="{{- joinPath .chezmoi.homeDir .path.personal.proxy -}}" {
        pane split_direction="vertical" {
            pane command="tail" {
                args "-f" {{ joinPath .chezmoi.homeDir .path.log "sing-box" "sing-box.log" | quote }}
            }
            pane
        }
    }
}
