[{{ joinPath .path.asahiart "Arborist" | quote }}]
    type = "git-repo"
    url = "https://github.com/AsahiArt/Arborist"
    refreshPeriod = "4h"

[{{ joinPath .path.asahiart "font-subset-gradle-plugin" | quote }}]
    type = "git-repo"
    url = "https://github.com/AsahiArt/font-subset-gradle-plugin"
    refreshPeriod = "4h"
