{{- $kotlinOS := get (dict
    "darwin"  "mac"
    "linux"   "linux"
    "windows" "win"
) $.chezmoi.os -}}

{{- $kotlinArch := get (dict
    "amd64" "x64"
    "arm64" "aarch64"
) .chezmoi.arch -}}

["Developer/Example/Android/nowinandroid"]
    type = "git-repo"
    url = "https://github.com/android/nowinandroid.git"
    refreshPeriod = "168h"

["Developer/Example/KMP/compose-multiplatform"]
    type = "git-repo"
	url = "https://github.com/JetBrains/compose-multiplatform.git"
	refreshPeriod = "168h"

["{{ .path.plum }}"]
    type = "git-repo"
    url = "https://github.com/rime/plum"
    refreshPeriod = "168h"

["bin/jar/pdf-unstamper.jar"]
    type = "file"
    url = "{{ (gitHubLatestReleaseAssetURL "hwding/pdf-unstamper" "pdf-unstamper.jar") }}"

[".local/share/kotlin-lsp"]
    type = "archive"
	url = "{{ regexFind (printf `https://[^\s]+-%s-%s\.zip` $kotlinOS $kotlinArch) (gitHubLatestRelease "Kotlin/kotlin-lsp").Body }}"
	exact = true
    refreshPeriod = "744h"