["Developer/Example/Android/nowinandroid"]
    type = "git-repo"
    url = "https://github.com/android/nowinandroid.git"
    refreshPeriod = "168h"

["Developer/Example/KMP/compose-multiplatform"]
    type = "git-repo"
	url = "https://github.com/JetBrains/compose-multiplatform.git"
	refreshPeriod = "168h"

["{{ .path.tool.plum }}"]
    type = "git-repo"
    url = "https://github.com/rime/plum"
    refreshPeriod = "168h"
