{{- if eq .chezmoi.os "darwin" }}
["Developer/Example/Raycast/script-commands"]
    type = "git-repo"
    url = "https://github.com/raycast/script-commands.git"
    refreshPeriod = "24h"
    clone.args = ["--depth=1"]

["Library/Fonts/Symbola.ttf"]
    type = "archive-file"
	url = "https://fontlibrary.org/assets/downloads/symbola/cf81aeb303c13ce765877d31571dc5c7/symbola.zip"
    path = "Symbola.ttf"

["bin/md-babel"]
    type = "archive-file"
    url = "{{ (gitHubLatestReleaseAssetURL "md-babel/swift-markdown-babel" "md-babel_macos-universal-*.tar.bz2") }}"
    path = "md-babel"

["bin/android"]
    type = "file"
	executable = true
	url = "https://dl.google.com/android/cli/latest/darwin_arm64/android"

["Applications/iloader.app"]
    type = "archive"
    url = "{{ (gitHubLatestReleaseAssetURL "nab138/iloader" "iloader-darwin-universal.app.tar.gz") }}"
	stripComponents = 1
{{- end }}
