{{- /* Infinity Valley work repositories. Release directories are ivc
       worktrees, not independent clones. */ -}}
{{- if has .host_env (list "personal" "iv") -}}
{{- range $repo := list
  (dict "dest" "agentia" "url" "git@git.infinityparadise.com:agentia/agentia.git")
  (dict "dest" "ivc" "url" "git@git.infinityparadise.com:mobile/ivc.git")
}}
[{{ joinPath $.path.workspace.iv $repo.dest | quote }}]
    type = "git-repo"
    url = {{ $repo.url | quote }}
    refreshPeriod = "4h"
{{ end -}}
{{- end -}}
