{{- /* Render repositories.yaml into chezmoi git-repo externals. */ -}}
{{- $destinations := dict -}}
{{- range $repo := default (list) .repositories -}}
{{-   $enabled := includeTemplate "when/context" (merge (dict "item" $repo) $) | fromJson -}}
{{-   if $enabled -}}
{{-     $path := includeTemplate "path/value" (merge
          (dict "path" $.path "keys" $repo.path "label" "repository path")
          (pick $repo "dest")) -}}
{{-     if hasKey $destinations $path -}}
{{-       fail (printf "duplicate repository destination: %s" $path) -}}
{{-     end -}}
{{-     $_ := set $destinations $path true }}
[{{ $path | quote }}]
    type = "git-repo"
    url = {{ $repo.url | quote }}
    refreshPeriod = {{ $repo.refresh_period | quote }}
{{-     $cloneArgs := list -}}
{{-     if hasKey $repo "branch" -}}
{{-       $cloneArgs = concat $cloneArgs (list "-b" $repo.branch) -}}
{{-     end -}}
{{-     if hasKey $repo "depth" -}}
{{-       $cloneArgs = append $cloneArgs (printf "--depth=%v" $repo.depth) -}}
{{-     end -}}
{{-     if $cloneArgs }}
    clone.args = [{{ range $i, $arg := $cloneArgs }}{{ if $i }}, {{ end }}{{ $arg | quote }}{{ end }}]
{{-     end }}
{{-     if hasKey $repo "branch" }}
    pull.args = ["--ff-only", "origin", {{ $repo.branch | quote }}]
{{-     end }}
{{ end -}}
{{- end -}}
