{{- if ne .chezmoi.os "ci" }}
["Developer/XingZhi/RobotDroid"]
    type = "git-repo"
    url = "https://github.com/OpenXingZhi/RobotDroid"
    refreshPeriod = "48h"

["Developer/XingZhi/RobotDroidConfig"]
    type = "git-repo"
    url = "https://gitee.com/star-spider-intelligence/robot-droid-config"
    refreshPeriod = "48h"
{{- end }}
