[{{ joinPath .path.zotero (index .path.data "zotero-ext") "better-bibtex@iris-advies.com.xpi" | quote }}]
    type = "file"
    url = "{{ (gitHubLatestReleaseAssetURL "retorquere/zotero-better-bibtex" "zotero-better-bibtex-*.xpi") }}"

[{{ joinPath .path.zotero (index .path.data "zotero-ext") "zoteropdftranslate@euclpts.com.xpi" | quote }}]
    type = "file"
    url = "{{ (gitHubLatestReleaseAssetURL "windingwind/zotero-pdf-translate" "translate-for-zotero.xpi") }}"

[{{ joinPath .path.zotero (index .path.data "zotero-ext") "jasminum@linxzh.com.xpi" | quote }}]
    type = "file"
    url = "{{ (gitHubLatestReleaseAssetURL "l0o0/jasminum" "jasminum_*.xpi") }}"
