["Android/nowinandroid"]
    type = "git-repo"
    url = "https://github.com/android/nowinandroid.git"
    refreshPeriod = "168h"

["KMP/compose-multiplatform"]
    type = "git-repo"
    url = "https://github.com/JetBrains/compose-multiplatform.git"
    refreshPeriod = "168h"

{{ if eq .chezmoi.os "darwin" }}
["Raycast/script-commands"]
    type = "git-repo"
    url = "https://github.com/raycast/script-commands.git"
    refreshPeriod = "24h"
    clone.args = ["--depth=1"]
{{- end }}

{{- if eq .host_env "aa" }}
["Concourse/ci"]
    type = "git-repo"
    url = "https://github.com/concourse/ci"
    refreshPeriod = "24h"

["Concourse/examples"]
    type = "git-repo"
    url = "https://github.com/concourse/examples"
    refreshPeriod = "24h"
{{- end }}
