{{- $repo := joinPath .chezmoi.homeDir (index .path "org-roam") -}}
{{- $file := joinPath "bibliography" "zotero.bib" -}}
{{- $bibFile := joinPath $repo $file -}}

user_pref("extensions.zotero.translators.better-bibtex.autoExport.{{ urlquery $bibFile | replace "." "%2e"}}", {{- dict
  "created" (output "git" "-C" $repo "log" "--diff-filter=A" "--follow" "--format=%ct" "-1" "--" $file | trim | mul 1000)
  "path" $bibFile
  "translatorID" "f895aa0d-f28e-47fe-b247-2ea77c6ed583"
  "type" "library"
  "id" 1
  "status" "done"
  "error" ""
  "recursive" false
  "updated" (mul (stat $bibFile).modTime 1000)
  "enabled" true
  "asciiBibLaTeX" false
  "biblatexExtendedNameFormat" true
  "DOIandURL" "both"
  "exportNotes" false
  "useJournalAbbreviation" false
  "biblatexAPA" false
  "biblatexChicago" false
| toJson | quote -}});

user_pref("extensions.zotero.translators.better-bibtex.citekeyFormat", "auth.fold.lower + shorttitle(3, 3) + year");

user_pref("extensions.zotero.translators.better-bibtex.postscript", {{- includeTemplate "zotero/postscript.js" | quote -}});
