{{ joinPath .path.log "rclone" "rclone-stderr.log" }} {
  rotate 7
  daily
  missingok
  notifempty
  compress
  copytruncate
}

{{ joinPath .path.log "rclone" "rclone-stdout.log" }} {
  rotate 3
  yearly
  missingok
  notifempty
  compress
  copytruncate
}
