# https://isync.sourceforge.io/mbsync.html

## QQ
IMAPAccount qq
Host imap.qq.com
User chuxubank@qq.com
PassCmd "pass Personal/Social/Tencent/QQMail"
TLSType IMAPS

IMAPStore qq-remote
Account qq

MaildirStore qq-local
Path {{ joinPath .chezmoi.homeDir .path.data.mail "qq" -}} {{- .chezmoi.pathSeparator }}
Inbox {{ joinPath .chezmoi.homeDir .path.data.mail "qq" "Inbox" }}
SubFolders Verbatim

Channel qq
Far :qq-remote:
Near :qq-local:
Patterns *
Expunge Both
CopyArrivalDate yes
Create Both
SyncState *

## Gmail
IMAPAccount gmail
Host imap.gmail.com
User chuxubank@gmail.com
PassCmd "pass Personal/Tech/Google | tail -n +2 | yq '.app-pass-mbsync'"
AuthMechs LOGIN
TLSType IMAPS

IMAPStore gmail-remote
Account gmail
Path "[Gmail]/"

MaildirStore gmail-local
Path {{ joinPath .chezmoi.homeDir .path.data.mail "gmail" -}} {{- .chezmoi.pathSeparator }}
Inbox {{ joinPath .chezmoi.homeDir .path.data.mail "gmail" "Inbox" }}
SubFolders Verbatim

Channel gmail
Far :gmail-remote:
Near :gmail-local:
Patterns *
Expunge None
CopyArrivalDate yes
Create Both
SyncState *
