# https://isync.sourceforge.io/mbsync.html

## QQ
IMAPAccount qq
Host imap.qq.com
User chuxubank@qq.com
PassCmd "pass show Personal/Social/Tencent/QQMail | head -1"
TLSType IMAPS

IMAPStore qq-remote
Account qq

MaildirStore qq-local
Path {{ joinPath .chezmoi.homeDir .path.mail "qq" -}} {{- .chezmoi.pathSeparator }}
Inbox {{ joinPath .chezmoi.homeDir .path.mail "qq" "Inbox" }}
SubFolders Verbatim

Channel qq
Far :qq-remote:
Near :qq-local:
Patterns *
Expunge None
CopyArrivalDate yes
Sync All
Create Both
SyncState *