{{ template "launchagent/plist" merge (dict
  "tool" "freedesktop"
  "target" "dbus-session"
  "limitLoadToSessionType" false
  "programArguments" (list
    (printf "%s/bin/dbus-daemon" .path.usr)
    "--nofork"
    "--session"
  )
  "extra" "<key>Sockets</key>\n<dict>\n  <key>unix_domain_listener</key>\n  <dict>\n    <key>SecureSocketWithKey</key>\n    <string>DBUS_LAUNCHD_SESSION_BUS_SOCKET</string>\n  </dict>\n</dict>"
) . }}
