{{ template "launchagent/plist" merge (dict
  "tool" "gitwatch"
  "target" "org"
  "keepAlive" true
  "runAtLoad" true
  "programArguments" (list
    (printf "%s/bin/gitwatch" .path.usr)
    "-r"
    "origin"
    "-s"
    "120"
    "-R"
    "-M"
    (printf "%s/%s" .chezmoi.homeDir .path.org)
  )
  "environmentVariables" (dict
    "PATH" (printf "%s/bin:/bin:/usr/bin" .path.usr)
  )
) . }}
