{{ template "launchagent/plist" merge (dict
  "tool" "rclone"
  "target" "rpi"
  "programArguments" (list
    (printf "%s/bin/rclone" .path.usr)
    "nfsmount"
    "rpi:"
    (printf "%s/rpi" .chezmoi.homeDir)
    "--vfs-cache-mode"
    "full"
    "--volname"
    "rpi"
  )
) . }}
