{{ template "launchagent/plist" merge (dict
  "tool" "rclone"
  "target" "nutstore"
  "keepAlive" true
  "runAtLoad" true
  "programArguments" (list
    (printf "%s/bin/rclone" .path.usr)
    "nfsmount"
    "nutstore:"
    (joinPath .chezmoi.homeDir .path.nutstore)
    "--volname"
    .path.nutstore
    "-vv"
    "--dir-cache-time"
    "3m"
    "--poll-interval"
    "1m"
    "--vfs-cache-mode"
    "full"
    "--vfs-cache-max-age"
    "4w"
    "--vfs-fast-fingerprint"
  )
) . }}
