{
  "profiles": [
    {
      "devices": [
        // Apple Internal Keyboard,
        {
          "identifiers": { "is_keyboard": true },
          "simple_modifications": [
            {
              "from": { "key_code": "caps_lock" },
              "to": [{ "key_code": "left_control" }]
            },
            {
              "from": { "key_code": "left_control" },
              "to": [{ "key_code": "caps_lock" }]
            }
          ]
        },
        {
          "identifiers": {
            "is_keyboard": true,
            "product_id": 832,
            "vendor_id": 1452
          },
          "simple_modifications": [
            {
              "from": { "key_code": "caps_lock" },
              "to": [{ "key_code": "left_control" }]
            },
            {
              "from": { "key_code": "left_control" },
              "to": [{ "key_code": "caps_lock" }]
            }
          ]
        },
        {
          "identifiers": {
            "is_keyboard": true,
            "product_id": 4423,
            "vendor_id": 10462
          },
          "ignore": true
        },
        // ThinkPad TrackPoint Keyboard Ⅱ BLE
        {
          "fn_function_keys": [
            {{ template "karabiner/common_fn_function_keys.json" }}
          ],
          "identifiers": {
            "is_keyboard": true,
            "is_pointing_device": true,
            "product_id": 24801,
            "vendor_id": 6127
          },
          "ignore": false,
          "simple_modifications": [
            {{ template "karabiner/common_simple_modifications.json" }},
            {
              "from": { "pointing_button": "button3" },
              "to": [{ "key_code": "vk_none" }]
            }
          ]
        },
        // ThinkPad TrackPoint Keyboard Ⅱ USB
        {
          "fn_function_keys": [
            {{ template "karabiner/common_fn_function_keys.json" }}
          ],
          "identifiers": {
            "is_keyboard": true,
            "product_id": 24814,
            "vendor_id": 6127
          },
          "ignore": false,
          "simple_modifications": [
            {{ template "karabiner/common_simple_modifications.json" }},
            {
              "from": { "pointing_button": "button3" },
              "to": [{ "key_code": "vk_none" }]
            }
          ]
        },
        {
          "identifiers": {
            "is_keyboard": true,
            "product_id": 4878,
            "vendor_id": 6785
          },
          "simple_modifications": [
            {
              "from": { "key_code": "application" },
              "to": [{ "apple_vendor_top_case_key_code": "keyboard_fn" }]
            },
            {{ template "karabiner/common_simple_modifications.json" }}
          ]
        },
        {
          "identifiers": {
            "is_keyboard": true,
            "product_id": 33,
            "vendor_id": 1278
          },
          "simple_modifications": [
            {
              "from": { "consumer_key_code": "eject" },
              "to": [{ "apple_vendor_top_case_key_code": "keyboard_fn" }]
            }
          ]
        },
        {
          "identifiers": {
            "is_keyboard": true,
            "product_id": 8265,
            "vendor_id": 6785
          },
          "simple_modifications": [
            {{ template "karabiner/common_simple_modifications.json" }}
          ]
        },
		// CIDOO ABM066 BLE
        {
          "fn_function_keys": [
            {{ template "karabiner/common_fn_function_keys.json" }}
          ],
          "identifiers": {
            "is_keyboard": true,
            "is_pointing_device": true,
            "product_id": 33398,
            "vendor_id": 9306
          },
          "simple_modifications": [
            {
              "from": { "key_code": "application" },
              "to": [{ "apple_vendor_top_case_key_code": "keyboard_fn" }]
            }
          ],
          "ignore": false
        },
        // CIDOO ABM066 USB
        {
          "fn_function_keys": [
            {{ template "karabiner/common_fn_function_keys.json" }}
          ],
          "identifiers": {
            "is_keyboard": true,
            "product_id": 20565,
            "vendor_id": 12815
          },
          "simple_modifications": [
            {
              "from": { "key_code": "application" },
              "to": [{ "apple_vendor_top_case_key_code": "keyboard_fn" }]
            }
          ]
        }
      ],
      "name": "Misaka",
      "selected": true,
      "virtual_hid_keyboard": {
        "country_code": 0,
        "keyboard_type_v2": "ansi"
      }
    }
  ]
}
