{{- $commonFnKeys := list -}}
{{- range $code := list "f1" "f2" "f3" "f4" "f5" "f6" "f7" "f8" "f9" "f10" "f11" "f12" -}}
  {{- $commonFnKeys = append $commonFnKeys (dict "from" (dict "key_code" $code) "to" (list (dict "key_code" $code))) -}}
{{- end -}}

{{- $commonSimpleMods := list -}}
{{- range $swap := list
    (dict "from" "caps_lock" "to" "left_control")
    (dict "from" "left_control" "to" "caps_lock")
    (dict "from" "left_command" "to" "left_option")
    (dict "from" "left_option" "to" "left_command")
    (dict "from" "right_command" "to" "right_option")
    (dict "from" "right_option" "to" "right_command")
  -}}
  {{- $commonSimpleMods = append $commonSimpleMods (dict "from" (dict "key_code" $swap.from) "to" (list (dict "key_code" $swap.to))) -}}
{{- end -}}

{{- $capsSwap := list
  (dict "from" (dict "key_code" "caps_lock") "to" (list (dict "key_code" "left_control")))
  (dict "from" (dict "key_code" "left_control") "to" (list (dict "key_code" "caps_lock")))
-}}

{{- $button3ToNone := dict "from" (dict "pointing_button" "button3") "to" (list (dict "key_code" "vk_none")) -}}
{{- $applicationToFn := dict "from" (dict "key_code" "application") "to" (list (dict "apple_vendor_top_case_key_code" "keyboard_fn")) -}}
{{- $ejectToFn := dict "from" (dict "consumer_key_code" "eject") "to" (list (dict "apple_vendor_top_case_key_code" "keyboard_fn")) -}}

{{- $simpleModPresets := dict
  "applicationToFn" (list $applicationToFn)
  "button3ToNone" (list $button3ToNone)
  "capsSwap" $capsSwap
  "commonSimpleMods" $commonSimpleMods
  "ejectToFn" (list $ejectToFn)
-}}

{{- $keyboards := default (dict) .keyboards -}}
{{- $deviceSpecs := default (list) $keyboards.device_specs -}}

{{- $devices := list -}}
{{- range $spec := $deviceSpecs -}}
  {{- $device := dict "identifiers" $spec.identifiers -}}
  {{- if hasKey $spec "fnKeys" }}{{- $_ := set $device "fn_function_keys" $commonFnKeys -}}{{- end -}}
  {{- if hasKey $spec "ignore" }}{{- $_ := set $device "ignore" $spec.ignore -}}{{- end -}}
  {{- if hasKey $spec "simple_modifications" }}
    {{- $mods := list -}}
    {{- range $preset := $spec.simple_modifications -}}
      {{- $mods = concat $mods (index $simpleModPresets $preset | default (list)) -}}
    {{- end -}}
    {{- $_ := set $device "simple_modifications" $mods -}}
  {{- end -}}
  {{- $devices = append $devices $device -}}
{{- end -}}

{{- $profile := dict
  "devices" $devices
  "name" "Misaka"
  "selected" true
  "virtual_hid_keyboard" (dict "country_code" 0 "keyboard_type_v2" "ansi")
-}}

{{- dict "profiles" (list $profile) | toPrettyJson -}}
