Host {{ (passFields "Network/Home/RaspberryPi/ssh").alias }}
    HostName {{ (passFields "Network/Home/RaspberryPi/ssh").ip }}
    User {{ (passFields "Network/Home/RaspberryPi/ssh").user }}
    Port {{ (passFields "Network/Home/RaspberryPi/ssh").port }}

Host {{ (passFields "Network/Host/BandwagonHost/ssh").alias }}
    HostName {{ (passFields "Network/Host/BandwagonHost/ssh").ip }}
    User root
    Port {{ (passFields "Network/Host/BandwagonHost/ssh").port }}

Host {{ (passFields "Network/Host/Racknerd/ssh").alias }}
    HostName {{ (passFields "Network/Host/Racknerd/ssh").ip }}
    User root
    Port {{ (passFields "Network/Host/Racknerd/ssh").port }}
