{{- /* One dest per workspaces.yaml entry: ~/.config/zellij/layouts/<name>.kdl
       Same empty-url + filter trick as cursor project trust files. */ -}}
{{- $empty := eq .chezmoi.os "windows" | ternary "file://NUL" "file:///dev/null" -}}
{{- range .workspaces }}
[{{ printf "%s.kdl" .name | quote }}]
    type = "file"
    url = {{ $empty | quote }}
    filter.command = "chezmoi"
    filter.args = ["execute-template", {{ printf "{{ includeTemplate \"zellij/layout-named\" (merge (dict \"workspaceName\" %q) .) }}" .name | quote }}]
{{ end -}}
