layout {
    tab_template name="ai" {
        pane split_direction="vertical" {
            pane command="claude" size="40%"
            children
        }
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }

    {{- if eq .host_env "iv" }}
    ai name="ivc" cwd="~/Developer/IV/ivc" {
        pane
    }
    {{- end }}

    ai name="proxy" cwd="{{- joinPath .chezmoi.homeDir .path.proxy -}}" {
        pane command="tail" {
		    args "-f" "~/Library/Logs/sing-box/sing-box.log"
		}
		pane
    }
}
