{{- $servers := dict -}}
{{- range $provider := .mcp.providers }}
  {{- if $provider.enabled }}
    {{- $name := regexReplaceAll "[^a-z0-9]+" ($provider.name | lower) "_" -}}
	{{- $exec := $provider.execution -}}
    {{- $server := dict -}}
    {{- $_ := set $server "description" $provider.description -}}
    {{- if eq $exec.type "stdio" }}
      {{- $_ := set $server "command" $exec.cmd -}}
      {{- if hasKey $exec "args" }}
        {{- $_ := set $server "args" $exec.args -}}
      {{- end }}
    {{- else if eq $exec.type "sse" }}
      {{- $_ := set $server "url" $exec.uri -}}
    {{- else if eq $exec.type "http" }}
      {{- $_ := set $server "httpUrl" $exec.uri -}}
    {{- end }}
    {{- if hasKey $exec "timeout" }}
      {{- $_ := set $server "timeout" (mul $exec.timeout 1000) -}}
    {{- end }}
    {{- if hasKey $exec "envs" }}
      {{- $envs := dict -}}
      {{- range $envKey := sortAlpha (keys $exec.envs) }}
        {{- $envValue := index $exec.envs $envKey -}}
        {{- if eq (kindOf $envValue) "map" }}
          {{- $secret := "" -}}
          {{- if or (not (hasKey $envValue "type")) (eq $envValue.type "pass") }}
            {{- if (hasKey $envValue "field") }}
              {{- $secret = (index (passFields $envValue.path) $envValue.field) -}}
            {{- else }}
              {{- $secret = (pass $envValue.path) -}}
            {{- end }}
          {{- else if eq $envValue.type "output" }}
            {{- $secret = (outputList $envValue.cmd $envValue.args) -}}
          {{- end }}
          {{- if and (hasKey $envValue "trim") $envValue.trim }}
            {{- $secret = ($secret | trim) -}}
          {{- end }}
          {{- $_ := set $envs $envKey $secret -}}
        {{- else }}
          {{- $_ := set $envs $envKey $envValue -}}
        {{- end }}
      {{- end }}
      {{- if gt (len $envs) 0 }}
        {{- $_ := set $server "env" $envs -}}
      {{- end }}
    {{- end }}
    {{- $_ := set $servers $name $server -}}
  {{- end }}
{{- end }}

{{- $theme := ternary "ANSI" "ANSI Light" .isDarkMode -}}

{{- $config := dict
  "security" (dict "auth" (dict "selectedType" "oauth-personal"))
  "ui" (dict "theme" $theme)
  "general" (dict
    "vimMode" false
	"previewFeatures" true
	"sessionRetention" (dict
	  "enabled" true
	  "maxAge" "30d"
	  "warningAcknowledged" true
	)
  )
  "mcpServers" $servers
-}}
{{ $config | toPrettyJson }}
